In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
customer=pd.read_csv('Costomer.csv')
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
customer.shape

(300, 4)

In [ ]:
customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [ ]:
customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
customer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
# here we have to use chi square contingency test because we have to dealed with two categorical like good are bad

In [ ]:
#now we have to define what is the null and alternative hypothesis

In [ ]:
# null hypothesis  : there is no difference between our all proporations
# alternative hypothesis : there is atleast one proportion is different

In [ ]:
# create a contengency table
table=np.array([(280,269,267,271),(20,31,33,29)])

In [ ]:
table

array([[280, 269, 267, 271],
       [ 20,  31,  33,  29]])

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
customer_1=chi2_contingency(table)
customer_1

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
p_value=customer_1[1]
p_value

0.2771020991233135

In [ ]:
# so here  p value > alpha value(0.05) (at 5% of significance level)
# thwen accept our null hypothesis

In [ ]:
# so here  p value > alpha value(0.05) (at 5% of significance level)
# thwen accept our null hypothesis