In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
buy=pd.read_csv('BuyerRatio.csv')
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
import warnings 
warnings.filterwarnings('ignore')
buy.mean()

East     242.5
West     832.5
North    743.5
South    410.0
dtype: float64

In [ ]:
buy.std

<bound method NDFrame._add_numeric_operations.<locals>.std of   Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750>

In [ ]:
buy.shape

(2, 5)

In [ ]:
buy.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [ ]:
# here we have to use Anova test because we have dealed with 4 proportions that means more than two means
# now we have to define what is null and alternative hypothesis
# null hypothesis  : all proportions are equal that means there is no difference between our four proportion
# alternative hypothesis : not all proportions are equal (atleast one proportion is different from others)
# now we have to define what is null and alternative hypothesis

In [ ]:
annova=stats.f_oneway(buy.East,buy.West,buy.South,buy.North)
annova

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [ ]:
p_values=annova[1]
p_values

0.8204060154887464

In [ ]:
#there is no difference between values so we accept null hypothesis